---
import Card from "./card.astro";

import projectsData from "@projects/projects.json";

const projects = projectsData.projects
---

<div id="gallery">
    <div class="projects-gallery">
        {projects.map((project) => (
            <Card project={project} className="card" />
        ))}
    </div>
</div>

<style>
    #gallery{
        padding: 5vw;
    }

    .projects-gallery{
        max-width: 1920px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        margin: 5%;
        transition: transform 0.3s;
    }

    .card:hover {
        transform: translateY(-25px);
    }

    @media screen and (max-aspect-ratio: 1/1) {
        .projects-gallery {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>