---
import Chronology from "./chronology.astro";
import FirstView from "./firstView.astro";
---

<div id="global-view">
    <h1>CV</h1>
    <div class="infos">
        <Chronology />
        <FirstView />
    </div>
</div>

<style>
    #global-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: calc(100vh - 70px);
        max-width: 1920px;
        margin: auto;
        overflow: hidden;
    }

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        height: 80%;
    }

    @media screen and (max-width: 1000px) {
        .infos {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    @media screen and (max-height: 650px) {
        .infos {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>