---
import Chronology from "./chronology.astro";
---

<div id="global-view">
    <h1>CV</h1>
    <div class="infos">
        <Chronology />
    </div>
</div>

<style>
    #global-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 70px);
        max-width: 1920px;
        margin: auto;
        overflow: hidden;
    }

    h1 {
        text-align: center;
    }

    .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80%;
    }
</style>