---
import Arrow from "@icons/arrow.svg"
import Chronology from "./chronology.astro";
import FirstView from "./firstView.astro";
---

<div id="global-view">
    <h1>CV</h1>
    <div class="infos">
        <div class="cursus">
            <h2>Cursus</h2>
            <img class="arrow arrow-reverse" src={Arrow}/>
            <Chronology />
            <img class="arrow" src={Arrow}/>
        </div>

        <FirstView />
    </div>
</div>

<style>
    #global-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
        margin: auto;
        overflow: hidden;
    }

    h1 {
        text-align: center;
        margin: 25px;
    }

    h2 {
        text-align: center;
    }

    .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2vh;
    }

    .cursus{
        position: relative;
    }

    .arrow {
        z-index: 1;
        width: 20px;
        bottom: 0;
        position: absolute;
        left: calc(50% - 10px);
        animation: arrow-floating 5s ease-in-out infinite;
    }

    @-webkit-keyframes arrow-floating{
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0px);
            }
        }

    .arrow-reverse {
        bottom: inherit;
        animation: arrow-floating-reversed 5s ease-in-out infinite;
    }

    @-webkit-keyframes arrow-floating-reversed{
            0% {
                transform: translateY(10px) rotate(180deg);
            }

            50% {
                transform: translateY(0px) rotate(180deg);
            }

            100% {
                transform: translateY(10px) rotate(180deg);
            }
        }

    @media screen and (max-aspect-ratio: 1/1) {
        .infos {
            display: flex;
            flex-direction: column-reverse;
        }

        .cursus {
            margin-top: 40px;
        }
    }
</style>