---
import IMACIcon from "@cv/images/imac_icon.png"
import IUTIcon from "@cv/images/iut_icon.png"
import KBTIcon from "@cv/images/kbt_icon.png"

---

<div id="graduations">
    <h1>Diplômes</h1>
    <div class="grid">
        <div class="graduation imac">
            <img src={IMACIcon} />
            <h2>Ingénieur IMAC</h2>
        </div>

        <div class="graduation iut">
            <img src={IUTIcon} />
            <h2>DUT R&T</h2>
        </div>

        <div class="graduation kbt">
            <img src={KBTIcon} />
            <h2>BAC S - SVT</h2>
        </div>
    </div>
</div>

<style>
    #graduations {
        max-height: 100vh;
        max-width: 1920px;
        margin: auto;
    }

    h1 {
        margin-left: 10px;
        position: relative;
        font-family: "Poppins Bold";
        font-size: min(7vw,32px);
    }

    h2 {
        font-size: min(3vw,24px);
    }

    .grid {
        margin: 10%;
        display: grid;
        height: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .graduation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        margin: 15px;
        border-radius: 500px;
        border: white solid 5px;
        width: 80%;
        max-width: 200px;
    }
</style>