---
//Importation des dépendences du site
import Header from '@layouts/Header.astro';

//Éléments de pages
import Navigateur from '@components/Navigateur.astro'
import Home from '@components/home/home.astro';
import ShortAbout from '@components/home/shortAbout.astro';
import RecentWork from '@components/home/recentWork.astro';
---

<!-- HTML -->
<html lang="fr">
    <Header title="Portfolio"/>
    <Navigateur />
    <Home />
    <ShortAbout />
    <RecentWork />
    <p class="txt">Hello World</p>
    <div class="test">

    </div>
</html>

<style>
    .test{
        height: 100vh;
    }
</style>