---
import MailIcon from "@icons/mail_icon.svg"
import InIcon from "@icons/linkedin_icon.svg"

import PersonnalizedButton from "@components/PersonnalizedButton.astro";
import ShortAboutTransitions from "@svg/short_about_transitions.astro";
---

<section id="contact">
    <ShortAboutTransitions className="transition"/>

    <div class="contact_formular">
        <h2>Me contacter</h2>
        <p class="text_content">Contactez moi facilement avec mon adresse email. Je suis ouvert à toutes demandes. N'hésitez pas également à me suivre sur les réseaux sociaux pour me contacter.</p>
       <div class="contact_content">
            <div class="social">
                <img src={MailIcon}/>
                <p>bourhis.clement29@gmail.com</p> 
                <PersonnalizedButton title="Envoyer un e-mail" goTo="mailto:bourhis.clement29@gmail.com?subject=Prise%20de%20contact" className="send"/>
            </div>
            <div class="social">
                <img src={InIcon}/>
                <p><a href="https://www.linkedin.com/in/clement-bourhis" target="_blank">@clement-bourhis</a></p>
            </div>
       </div>
    </div>
</section>

<style>

    #contact {
        background: linear-gradient(180deg, #0F103F 3.13%, #1A45DF 45.31%, #8161DE 98.96%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        position: relative;
    }

    .transition {
        max-width: 100%;
        height: fit-content;
    }

    .contact_formular {
        width: fit-content;
        background-color: #141414d9;
        border: 2px solid #1EB1D2;
        margin: 5vh;
        padding: 15px;
    }

    h2 {
        margin-bottom: 15px;
    }

    .contact_content {
        margin-top: 30px;
    }

    .social {
        margin: 15px;
        display: flex;
        align-items: center;
    }

    .social img {
        width: 50px;
    }

    .social p {
        margin: 15px;
    }

    .social p a:hover {
        color: #1EB1D2;
    } 

    .send {
        padding: 10px;
        background: linear-gradient(151deg, #6993FF 15%, #af36ff 95%);
        transition: color 0.2s ease-in-out;
    }

    .send:hover {
        color: black;
    }

    @media screen and (max-width: 1000px) {

    }

    @media screen and (max-aspect-ratio: 1/1) {
        .contact_formular {
            text-align: center;
        }

        .social {
            flex-direction: column;
        }
    }
</style>