---
import CBcrystal from "@images/clement_bourhis_crystal.png";

import CBCV from "@documents/Clement_BOURHIS_CV.pdf";

import SocialList from "@components/SocialList.astro";
---

<div id="home">
    <div class="home-content">
        <img src={CBcrystal} />
        <div class="home-title">
            <h1>Ingénieur créatif Multimédia <br>Clément Bourhis</h1>
            <div class="home-buttons">
                <a href="/contact"><button ="/contact">Me contacter</button></a>
                <a href={CBCV} download><button class="home-cvbutton">Télécharger mon cv</button></a>
            </div>
        </div>
    </div>
    <div class="social">
        <SocialList />
    </div>

</div>

<style>
    #home{
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px);
        max-width: 1920px;
    }

    .home-content{
        display: grid;
        grid-template-columns: 500px 710px;
        grid-gap: 10px;
    }

    .home-content img{
        max-width: 100%;
    }

    .home-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-title h1{
        margin: 10px 0 10px 0;
        font-family: 'Poppins Bold';
        font-size: 48px;
        line-height: 1.5;
    }

    .home-buttons{
        display: flex;
    }

    .home-buttons button{
        margin-top: 50px;
        cursor: pointer;
        border: inherit;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins Regular';
        font-size: 16px;
        color: white;
        width: 190px;
        height: 55px;
        border-radius: 35px;
        background-color: rgba(124, 124, 124, 1);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .home-buttons button::before{
        content:"";
        position:absolute;
        inset:0;
        padding: 1px;
        border-radius: 35px;
        background: linear-gradient(135deg, rgb(255, 255, 255) 20%, rgb(192, 240, 255) 35%, rgba(245,111,232,0) 60%);
        --grad: linear-gradient(red, red);
        -webkit-mask: var(--grad) content-box, var(--grad);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    .home-cvbutton{
        color: black;
        margin-left: 50px;
        background: linear-gradient(151deg, #6993FF 15%, #af36ff 95%);
    }

    .home-buttons button:hover, .home-cvbutton:hover{
        background-color: rgb(199, 199, 199);
        color:black;
    }

    .social {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }

@media screen and (max-width: 1250px) {
    .home-content{
        grid-template-columns: 280px 710px;
    }
}

@media screen and (max-width: 1000px) {
    .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-content img{
        max-width: 400px;
        width: 65vw;
    }

    .home-content h1{
        font-size: 32px;
        margin: 0 20px 0 20px
    }

    .home-buttons{
        justify-content: center;
    }

    .home-buttons button{
        font-size: 12px;
        width: 150px;
        height: 45px;
    }
}

@media screen and (max-width: 500px) {
    #home{
        flex-direction: column;
    }

    .home-buttons{
        flex-direction: column;
        align-items: center;
    }

    .home-buttons button{
        font-size: 16px;
        width: 190px;
        height: 55px;
    }

    .home-cvbutton{
        margin: 0;
    }

    .social {
        position: initial;
        margin-top: 50px;
    }
}

@media screen and (max-height: 730px) {
    #home{
        flex-direction: row;
    }

    .home-content{
        display: grid;
        text-align: initial;
        grid-template-columns: 25vw 1fr;
    }

    .home-content img{
        max-width: 25vw;
    }

    .home-title h1 {
        font-size: 3vw;
    }
}
</style>