---
import CBPP from "@images/clement_bourhis_crystal.png";
import CV from "@cv/Clement_BOURHIS_CV.pdf";

import HomeBackground from "@svg/home_background.astro"

import PersonnalizedButton from "@components/PersonnalizedButton.astro";
import SocialList from "@components/SocialList.astro";
---

<section id="home">
    <div id="presentation">
        <HomeBackground className="home_background"/>
        <div id="img"><img src={CBPP} /></div>
        <div id="title">
            <h1>Ingénieur créatif Multimédia <br> Clément Bourhis</h1>
            <nav>
                <PersonnalizedButton className="button contact" title="Me contacter" goTo="/contact" borderSize="2px"/>
                <PersonnalizedButton className="button cv" title="Télécharger mon CV" goTo={CV} borderSize="2px" isDownload="true"/>
            </nav>
        </div>
        <div id="social"><SocialList className="social-list" height="var(--social-icon-height)"/></div>
    </div>
</section>

<style>
    #home {
        height: calc(100vh - 71px);
        overflow-x: hidden;
    }

    #presentation {
        --social-height: 80px;
        --social-icon-height: 50px;
        max-width: 1920px;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: calc(100% - var(--social-height)) max-content;
        position: relative;
    }

    .home_background {
        position: absolute;
        max-height: 100%;
        width: 100%;
        z-index: -1;
    }

    h1 {
        font-family: 'Poppins Bold';
        line-height: 1.5;
        font-size: min(3vw, 48px);
    }

    #img {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    #title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        display: flex;
    }

    .button {
        width: 190px;
        height: 45px;
        margin: 3%;
        font-size: min(3vw, 16px);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .button:hover {
        color: #141414;
        background-color: #ebebeb;
    }

    .contact {
        background-color: rgba(124, 124, 124, 1);
    }

    .cv {
        background: linear-gradient(151deg, #6993FF 15%, #af36ff 95%);
    }

    #social {
        grid-area: 2 / 1 / 3 / 3;
        height: var(--social-height);
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 15px;
    }

    .social-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    @media screen and (max-height: 500px) {
        #home {
            height: calc(100vh - 41px);
        }

        #presentation {
            --social-height: 40px; 
            --social-icon-height: 30px;
        }

        nav {
            flex-direction: column;
        }

        .button {
            width: 50vw;
            height: 25px;
        }
    }

    @media screen and (max-aspect-ratio: 1/1) {
        #presentation {
            grid-template-columns: 1fr;
            grid-template-rows: calc(50% - var(--social-height) / 2) calc(50% - var(--social-height) / 2) max-content;
        }


        #img {
            justify-content: center;
        }

        #title {
            align-items: center;
            text-align: center;
        }

        h1 {
            font-size: min(6vw, 40px);
        }

        nav {
            flex-direction: column;
        }

        #social {
            grid-area: inherit;
            justify-content: center;
            padding-right: 0;
        }
    }
</style>