---
import Comete from "@components/svg/comete.astro";
import RecentWorkPortail from "@components/svg/recentWork_portail.astro";
import Carrousel from "@components/portfolio/carrousel.astro";

import projectsData from "@projects/projects.json";

const projects = projectsData.projects.sort((a,b) => {
    const dateA = new Date(a.date).getTime();
    const dateB = new Date(b.date).getTime();

    return dateB - dateA;
});
---

<section id="recent_work">
    <div class="titre">
        <Comete />
        <h2>Mes derniers projets</h2>
        <Comete className="comete_reverse"/>
    </div>
    <div class="works">
        <RecentWorkPortail className="portal"/>
        <div class="carrousel_content"><Carrousel className="carrousel" /></div>
        <RecentWorkPortail className="portal portal_reversed"/>
    </div>
</section>

<style>
    #recent_work {
        padding: 5vw;
    }

    .titre {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        min-width: 50%;
        text-align: center;
        font-size: min(max(calc(4vw), 10px), 24px);
    }

    .comete_reverse {
        transform: rotate(180deg);
    }

    .works {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 12% 1fr 12%;
    }

    .portal {
        width: 100%;
        height: fit-content;
    }

    .carrousel{
        width: 100%;
    }

    .carrousel_content {
        display: flex;
        align-items: center;
    }

    .portal_reversed {
        transform: rotate(180deg);
    }

    @media screen and (max-aspect-ratio: 1/1) {
        .works {
            grid-template-columns: 1fr;
        }

        .portal {
            display: none;
        }
    }
</style>