---
import ShortAboutCoupole from "@svg/short_about_coupole.astro";
import ShortAboutTransitions from "@svg/short_about_transitions.astro";
import ShortAboutTransition from "@svg/short_about_transitions.astro";
---

<section id="short_about">
        <ShortAboutTransitions className="transition"/>
        <ShortAboutCoupole className="coupole"/>
        <ShortAboutTransition className="transition transition_reverse"/>
</section>

<style>
    #short_about {
        background: linear-gradient(180deg, #6FBDE9 3.13%, #98D19A 98.96%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        position: relative;
    }

    .coupole {
        max-width: 1200px;
        min-width: 700px;
        width: 80%;
        height: fit-content;
        margin: 5% 0 5% 0;
    }

    .transition {
        max-width: 100%;
        height: fit-content;
    }

    .transition_reverse {
        transform: rotate(180deg);
    }
</style>