---
import RocketIcon from "@icons/rocket_icon.svg"
---

<div class="footer">
    <div class="footer-content">
        <p>© 2023 Clément Bourhis</p>
        <div class="legal"><a href="/legal">Mentions légales</a></div>
    </div>
    <button><img src={RocketIcon}/></button>
</div>    

<style>
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-content {
        padding: 0 10px 0 10px;
        position: relative;
        width: 100vw;
        height: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(51, 178, 216) 25%, rgba(245,111,232,0) 35%, rgba(245,111,232,0) 65%, rgb(51, 178, 216) 75%, rgb(255, 255, 255) 100%);
    }

    p {
        display: flex;
        align-items: center;
    }

    .legal {
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: end;
    }

    a {
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color: black;
    }

    img {
        width: 30px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translateY(-25px);
        background: none;
        border: none;
    }

    @media screen and (max-width: 1000px) {
        .footer-content {
            font-size: 10px;
        }
    }
</style>