---
import Crystal from "@svg/Crystal.astro";
---

<section id="footer">
    <p>© 2023 Clément Bourhis</p>
    <div class="img"><Crystal className="crystal"/></div>
    <p class="legal"><a href="/legal">Mentions légales</a></p>
</section>

<style>
    #footer {
        width: 100vw;
        height: 40px;
        border-top: solid 1px #EBEBEB;
        display: grid;
        grid-template-columns: 1fr 40px 1fr;
    }

    p {
        display: flex;
        padding: 0 15px 0 15px;
        align-items: center;
    }

    .legal {
        text-align: end;
        justify-content: end;
    }

    a:hover{
        color: #1EB1D2;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .crystal {
        max-width: 100%;
        height: 25px;
    }

    @media screen and (max-width: 500px) {
        #footer {
            grid-template-columns: 1fr 10vw 1fr;
        }

		p{
            font-size: xx-small;
        }
	}
</style>